
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"/>
	<link rel="stylesheet"  href="{% static 'css/site.css' %}"/>
</head>
<body>
	<div id="page" >
		<header class="container">
			
			<nav id="menu" class="navbar navbar-default navbar-fixed-top" >
				<header class="navbar-header">
		          	<button class="btn btn-default btn-sm navbar-toggle" 
		                  data-toggle="collapse"
		                  data-target=".navbar-collapse">
                      <span class="glyphicon glyphicon-align-justify"></span>
              		</button>

					<div id="logo " >
						<h4 class="logo-padding"><a href="{% url 'flow_hosp_live:index' %}">Flow Hospitality Training</a></h4>
					</div>	
				</header>
				<div class="navbar-collapse collapse">
				    <ul class="nav navbar-nav navbar-right">
				    	<li class="nav"><a href="{% url 'flow_hosp_live:index' %}"> Home </a></li>
				    	<li class="nav "><a href="{% url 'flow_hosp_live:external_training' user.id %}"> About </a></li>
				    	<li class="nav "><a href="{% url 'flow_hosp_live:external_training' user.id %}"> User Account </a></li>
				    	<li class="nav cnt-padding"><a href="contact.html"> Logout </a></li>
				    </ul>
				</div> 
			</nav>
		</header>

		<main class="container">

				<section>
					<nav class="well navbar navbar-default " >
						<div class="tainee">
						    <ul class="nav navbar-nav">
						    	<li class="nav active"><a href="{% url 'flow_hosp_live:company' user.id %}"> My Company </a></li>
						    	<li class="nav "><a href="{% url 'flow_hosp_live:external_training' user.id %}"> External Training </a></li>
						    	<li class="nav"><a href="contact.html"> Training Sessions </a></li>
						    </ul>
						</div> 
					</nav>	
				</section>
				<section class="page-header">
					<header> <h1> {{user.branch.company.name}}</h1></header>
					<artical><h4>Welcome {{user.forename}} {{user.surname}} </h4></artical>
				</section>
				
				<section>
					<header>
						<h2>Contact Info</h2>
					</header>
					<article>
						<ul>
							<li>Address : {{user.branch.company.address_street_1}}</li>
							<li>Telephone : {{user.branch.company.telephone}}</li>
							<li>Number of Employees : {{user.branch.company.number_of_employees}}</li>
							<li>Creation Date : {{user.branch.company.created}}</li>
						</ul>
					</article>
					
				</section>

			
		</main>
		</div>	
		<hr/>
		<footer class="container">

		</footer>
	</div>

	<script src=" {% static 'jquery-3.2.1.min.js' %}"></script>
	<script src=" {% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src=" {% static 'js/site.js' %}"></script>

</body>
</html>